<h4></h4>

<form method='POST' action=''>
Username: <input type='text' name='username' value='{{err.errors.username.value}}'><br>
Password: <input type='password' name='password' value='{{err.errors.password.value}}'><br>
<input type='submit' value='Register'>
</form>